@page "/counter"
@inject NavigationManager manager

<PageTitle>Counter</PageTitle>

@foreach(var item in links)
{
    <NavigationButtons Link="item"/>
}

<h1>Counter</h1>





@code {
    List<CustomLink> links;

    protected override void OnInitialized()
    {
        links = CustomLink.getCustomLinks();
    }
    private int currentCount = 0;

    private void NavigateToIndex()
    {
        manager.NavigateTo("/");
    }


}
